		
		
		
		.accountContainer
		{
			margin-top: 0px;
			
			width: 97%;
			border: 4px dotted #D8E1E9;
			font-size: 15px;
			text-align: justify;
			background-color: #efefef;
			padding-top: 10px;
			padding-bottom: 10px;
			float: left;
			border-radius: 5px;		
			overflow-x: hidden;
			overflow-y: auto;			
		}